

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
}
video {
	position: absolute;
	top: 0;
	height: 100%;
}
svg{
	position: absolute;
	top: 0;
	z-index: 2;
	left:20%;
	display: block;
	margin: 0 auto;
	text-align: center;
	opacity: 0;
	transition: all linear 3s;
	animation-name: hideLetters;
	animation-duration: 20s;
	-webkit-animation-name: hideLetters;
	-webkit-animation-duration: 20s;
	
}


@-keyframes hideLetters{
	0% {
		opacity: 0;
	}
	35% {
		opacity: 1;
	}
	95% {
		opacity: 0;
	}
}
@-webkit-keyframes hideLetters{
	0% {
		opacity: 0;
	}
	35% {
		opacity: 1;
	}
	95% {
		opacity: 0;
	}
}
	
