doctype html
html
  head
    meta(charset="utf-8")
    title Ni las moscas
    script(src="vendor/snap.svg/dist/snap.svg.js")
    link(rel="stylesheet", type="text/css", href="css/style.css")
    != LRScript
  body
    video(autoplay)
        source(src="media/videoplayback.mp4")
    script(src="js/script.js")
